.section1{display:flex;justify-content: space-around;margin: 30px 0 0 0;}
.section1 .s1-a{text-align: center;}
.section2{margin: 30px 0;}
.section2 .s2-a Image{border-radius: 25px;}
.section3 .head{display: flex; justify-content: space-between;}