.warp{width: 96%;margin: 0 auto;padding-bottom: 50px;}
.warp .banner{width: 100%;}
.warp .banner Image{width: 100%;}
.warp .title{text-align: center;font-size: 40px;margin-top: 30px;color:#2b7d7b;font-weight: bold;}
.warp .subtitle{margin-top: 20px;font-size: 36px;}
.warp .text{margin-top: 10px;text-indent: 2em;line-height: 75px;}