.warp{ width:96%; margin: 0 auto;}
.warp .head{display: flex;align-items: center; background: #2b7d7b;border-radius: 20px;}
.warp .head .avatar{width: 150px; height: 150px; border-radius: 50%; overflow: hidden;padding: 20px;}
.warp .head .avatar Image{width: 100%;}
.warp .head .info{margin-left: 20px;color:#fff}
.warp .head .info .nickname{font-size: 40px;}
.warp .head .info .sex{font-size: 30px;margin-top: 10px;}
.warp .body{width: 100%;height: 180px;border-radius: 25px;margin-top: 30px;overflow: hidden;}
.warp .body Image{width: 100%;height: 100%;}
.warp .footer{width: 96%; margin: 40px auto 0;}
.warp .footer .item {height: 100px;display: flex;align-items: center;justify-content: space-between;}
.warp .footer .item .item_top{display: flex;align-items: center;}
.warp .footer .item .item_top .icon{width: 40px;height: 40px;}
.warp .footer .item .item_top .icon Image{width: 100%;height: 100%;}
.warp .footer .item .item_top .title{margin-left: 20px;}
.warp .footer .item .next{width: 30px;height: 30px;}
.warp .footer .item .next Image{width: 100%;height: 100%;}
