.warp{
  width: 96%;
  margin: 0 auto;
}
.warp .article{text-align: center; font-size: 30px;}
.warp .name{margin-top: 20px;}
// .warp .banner{width: 100%;}
// .warp .banner Image{width: 100%;}
.warp .subtitle{margin-top: 20px;font-size: 30px;text-align: center;}
.warp .title{font-size: 40px;text-align: center;margin: 15px 0;font-weight: bold;color:#2b7d7b;}
.warp .text{font-size: 32px;width: 94%;margin: 40px auto;text-indent: 2em;line-height: 55px;}
.warp .footer{overflow: hidden;}
.warp .footer .foot{display: flex;align-items: center;float: right;margin-right: 20px;}
.warp .footer .foot .message{width: 40px;height: 40px;}
.warp .footer .foot .message Image{width: 100%;}
.warp .footer .foot .commit{margin-left: 10px;}
.warp .co{background: #efefef;margin: 20px 0 100px 0;padding: 20px 0;border-radius: 20px;overflow: hidden;}
.warp .co .none{text-align: center;color: #999999;font-size: 26px;}
.warp .co .com{padding: 5px 10px;color:#666;font-size: 26px;overflow: hidden;}