.warp{ width:96%; margin: 0 auto;}
.warp .title{text-align: center;margin-top: 15px;font-size: 40px;font-weight: bold;}
.warp .name{text-align: center;margin-top: 30px;}
.warp .introduce{margin-top: 30px;text-indent: 2em;}
