.warp{width: 96%;margin: 0 auto; display: flex;justify-content: space-between;flex-wrap: wrap;}
.warp .item{ width: 30%;}
.warp .item .title{ text-align: center;margin-top: 10px;}
.warp .item .img Image{ width: 100%;}
